body { background: #24d48f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-uploader-0 { color: #b08c88; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #81fb9c; font-size: 20px; margin-bottom: 5px; }
.block-search-2 { color: #28c96; font-size: 15px; margin-bottom: 5px; }
.block-config-3 { color: #3f52e9; font-size: 14px; margin-bottom: 5px; }
.block-token-4 { color: #81a4a1; font-size: 17px; margin-bottom: 5px; }
.block-helper-5 { color: #2274dd; font-size: 19px; margin-bottom: 5px; }